<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'setup_user_data' %}">Create Account</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
                <li><a href="{% url 'profile' %}">perfil</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the Home Page</h1>
        <!-- Add your content here -->
    </main>
</body>
</html>
