<!-- templates/base/home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | Æula</title>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900">
    <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Concert+One">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body id="base">
    <script src="{% static 'base/js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <header>

        <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

            <div class="container-fluid">

                <a id="btnlogo" class="navbar-brand" href="{% url 'home' %}">Æula</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'setup_user_data' %}">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
       
    </header>

    <div class="row" id="red"></div>

    <div class="row" id="cuerpo">
        <div class="col-1">
            <!-- Espacio -->
        </div>

        <div class="col-10">
            <h1 id="bv">Bienvenid@s!</h1>
            <div class="card text-bg-light mb-3" style="max-width: 100%; height: 500px; padding-top: 5px;">
                <div class="card-body">
                  <h2 class="card-title px-4">Información</h2>
                  <p class="card-text px-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium fugiat necessitatibus nesciunt distinctio quidem quis excepturi, velit dolor dicta laudantium, quisquam saepe impedit quibusdam voluptas placeat eos ab eum doloribus.
                  Nisi ex necessitatibus tempore reprehenderit, eum nihil maiores voluptatum magnam iusto placeat quidem culpa unde asperiores sequi quasi enim sit facilis vero, assumenda, obcaecati odio. Pariatur possimus laborum veniam accusantium?
                  Dolor itaque optio illo placeat odio. Odit fugiat culpa quidem eaque blanditiis placeat fuga voluptate accusamus, dolorem quia officia labore suscipit dolor nesciunt velit ipsum neque tempore recusandae at! Totam.
                  Est, similique rerum. Earum dolore, voluptates quo delectus et, animi excepturi vel laudantium necessitatibus tempora aliquid praesentium itaque enim exercitationem quos sint omnis accusamus quisquam maxime? Sapiente iusto id excepturi.
                  Iste nulla iusto mollitia architecto distinctio tempora, nam eaque corrupti nesciunt maiores quidem fugit voluptatibus quo est in vero et sint! Laborum totam nesciunt dolorem, vero nihil ratione recusandae nulla!</p>
                </div>
              </div>
              
        </div>

        <div class="col-1">
            <!-- Espacio -->
        </div>
    </div>

    <footer>
        <div class="row fixed-bottom" id="foot">
            <div class="col-6" id="info">
                <h3>Información de contacto:</h3>
                <p>
                    +56 32 xxx xxxx <br>
                    +56 9 xxxx xxxx <br>
                    contacto@aeula.cl
                </p>
            </div>

            <div class="col-6 text-end">
                <h3 id="tanuki">
                    Tanuki Tech
                    <br>
                    <a href="https://github.com/Kaleto13/TANUKI-TECH" target="_blank">
                        <i id="github" class="bi bi-github me-2"></i>
                    </a>
                </h3>
            </div>
        </div>
    </footer>

</body>
</html>
