<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña</title>
</head>
<body>
    <div class="LoginWrapper">
        <form method="POST" action="">
            {% csrf_token %}
            <h3>CAMBIO DE CONTRASEÑA</h3>
            <div class="input-box">
                <label for ="correo">Ingresa Correo:</label>
              <input
                type="text"
                name="newpassword"
                placeholder="nueva contraseña"
              />
            </div>
            <div class="input-box">
                <label for ="newpassword">Ingresa nueva clave:</label>
              <input
                type="text"
                name="newpassword"
                placeholder="nueva contraseña"
              />
            </div>
            <div class="input-box">
                <label for ="newpassword">Repita contraseña:</label>
              <input
                type="text"
                name=""
                placeholder="Repita contraseña"
              />
            </div>
            <div class="input-button">
              <input type="submit" value="Cambiar Clave" />
            </div>
            <a href="{% url 'home'}">            
            <div class="input-button">
                <input value="Volver" />
              </div></a>

          </form>
</body>
</html>