<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva cuenta</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <h3>CUENTA NUEVA</h3>
        <div class="input-box">
          <input
            type="text"
            name="username"
            placeholder=" Ingrese Nombre de Usuario"
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            name="email"
            placeholder=" Ingrese Correo"
          />
        </div>
        <div class="input-box">
            <input
              type="password"
              name="password"
              placeholder="Ingrese contraseña"
            />
          </div>
        <div class="input-button">
          <input type="submit" value="Login" />
        </div>
      </form>
</body>
</html>